body{
   margin: 0%;
   text-align: center;
   font-family: 'Lora', serif;
   background-image: url(img/paris.jpg);
}

.top{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background-image: url(img/area.jpg);
    height: 150px;
}


#visit{
    border-radius: 20px;
    background-color: rgb(224, 144, 24);
    margin-top: 10px;
    margin-bottom: 0%;
    padding: 20px 30px;
    letter-spacing: 1px;
}

#visit:hover{
    cursor: pointer;
    background-color: bisque;
    color: black;
}

#par{
    font-weight: 800;
    letter-spacing: 1px;
}

.activities{
    width: 90%;
    margin: 10px auto;
    background-color: rgb(208, 246, 253);
    border: none;
    border-radius: 20px;
}

#head{
    padding-top: 20px;
}

.desc{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}

.real-estate{
    display: block;
    align-items: center;
}

.motorcade{
    display: block;
    align-items: center;  
}

.real-estate, .heading-info, .interests{
    width: 400px;
}

.explore:hover{
    cursor: pointer;
    background-color: rgb(121, 241, 131);
    border-radius: 20px;
    padding: 5px;
}

.interests{
    display: block;
    align-items: center;
}

.images{
    border: 10px solid rgb(243, 143, 76);
    width: 200px;
    height: 150px;
    border-radius: 50%;
}

.images:hover{
    box-shadow: 3px 3px grey;
}

.tour, .me{
    display: flex;
    justify-content: center;
    margin: 30px 20px;
    border-radius: 5px;
    border-bottom: 10px solid rgb(9, 5, 73);
    background-color: rgb(139, 219, 233);
}
.my-image{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}

.guide{
    display: block;
    padding: 20px;
}

.flex-container{
    display: flex;
    padding: 5px 30px;
    margin: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
